<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhs.common.mapper.WmsLocStsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhs.common.entity.WmsLocSts">
        <id column="id" property="id" />
        <result column="loc_sts" property="locSts" />
        <result column="loc_desc" property="locDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, loc_sts, loc_desc
    </sql>

</mapper>
